name: run-benchmarks
on: push

jobs:
  Run-benchmark-forestfire:
    runs-on: ubuntu-latest
    steps:
       - name: Cancel ongoing test runs for previous commits
         uses: styfle/cancel-workflow-action@0.11.0
       - uses: actions/checkout@v3
       - name: setup-benchmarks
         run: bash ./.github/setup.sh
       - name: cache-binaries
         uses: actions/cache@v3
         with:
            path: ~/
            key: ${{ runner.os }}-binaries-${{ hashFiles('**/') }}
       - name: run-benchmarks
         run: bash ./.github/run-forestfire.sh
  Run-benchmark-flocking:
    runs-on: ubuntu-latest
    steps:
       - name: Cancel ongoing test runs for previous commits
         uses: styfle/cancel-workflow-action@0.11.0
       - uses: actions/checkout@v3
       - name: setup-benchmarks
         run: bash ./.github/setup.sh
       - name: run-benchmarks
         run: bash ./.github/run-flocking.sh
  Run-benchmark-wolfsheep:
    runs-on: ubuntu-latest
    steps:
       - name: Cancel ongoing test runs for previous commits
         uses: styfle/cancel-workflow-action@0.11.0
       - uses: actions/checkout@v3
       - name: setup-benchmarks
         run: bash ./.github/setup.sh
       - name: run-benchmarks
         run: bash ./.github/run-wolfsheep.sh
  Run-benchmark-schelling:
    runs-on: ubuntu-latest
    steps:
       - name: Cancel ongoing test runs for previous commits
         uses: styfle/cancel-workflow-action@0.11.0
       - uses: actions/checkout@v3
       - name: setup-benchmarks
         run: bash ./.github/setup.sh
       - name: run-benchmarks
         run: bash ./.github/run-schelling.sh
